In [9]:
import pandas as pd
from scipy import stats

In [14]:
df = pd.read_excel('data sample 2.xlsx', sep=';')
df

     lingkar pinggang  lingkar paha  lingkar betis  panjang celana
0                  43            35             25              82
1                  40            34             24              74
2                  59            37             25              72
3                  58            38             22              83
4                  36            35             27              75
5                  57            32             29              87
6                  65            43             28              80
7                  65            43             28              87
8                  70            38             23              91
9                  62            32             22              73
10                 49            36             30              72
11                 65            40             30              74
12                 64            34             26              78
13                 35            42             29              75
14                 63            39             24              81
15                 53            42             23              76
16                 64            38             23              83
17                 52            31             24              72
18                 68            45             22              80
19                 71            45             21              91
20                 54            46             25              87
21                 59            32             22              76
22                 72            38             27              77
23                 71            44             24              73
24                 30            36             25              81
25                 34            38             27              78
26                 57            36             24              88
27                 68            31             23              75
28                 66            33             27              89
29                 41            34             28              79
..                ...           ...            ...             ...
469                40            39             30              74
470                53            42             29              73
471                57            33             27              84
472                34            36             30              88
473                54            34             24              79
474                63            31             22              82
475                60            43             21              80
476                69            41             22              82
477                56            38             22              75
478                50            38             26              74
479                42            32             29              73
480                38            36             21              90
481                33            41             30              86
482                51            38             23              86
483                54            39             24              82
484                71            32             30              77
485                64            44             25              77
486                45            37             30              81
487                71            32             26              80
488                67            35             24              81
489                66            43             23              86
490                60            30             25              74
491                31            30             28              83
492                61            41             28              91
493                70            34             29              84
494                57            41             29              81
495                41            33             24              77
496                62            35             30              83
497                35            40             22              75
498                37            46             28              90

[499 rows x 4 columns]

In [15]:
data = {"Stats" : ['Min','Max','Mean','Standard Deviasi','Variasi','Skewnes',
                   'Quartile 1','Quartile 2', 'Quartile 3', 'Median','Modus']}
for i in df.columns:
    data[i] = [df[i].min(), df[i].max(), df[i].mean(),
                round(df[i].std(), 2),round(df[i].var(), 2),
                round(df[i].skew(), 2), df[i].quantile(0.25),
                df[i].quantile(0.5), df[i].quantile(0.75),
                df[i].median(), stats.mode(df[i]).mode[0]]

In [12]:
tes = pd.DataFrame(data, columns = ['Stats'] + [x for x in df.columns])
tes

               Stats        x1        x2        x3
0                Min  2.000000  1.000000  1.000000
1                Max  3.000000  2.000000  2.000000
2               Mean  2.333333  1.666667  1.333333
3   Standard Deviasi  0.580000  0.580000  0.580000
4            Variasi  0.330000  0.330000  0.330000
5            Skewnes  1.730000 -1.730000  1.730000
6         Quartile 1  2.000000  1.500000  1.000000
7         Quartile 2  2.000000  2.000000  1.000000
8         Quartile 3  2.500000  2.000000  1.500000
9             Median  2.000000  2.000000  1.000000
10             Modus  2.000000  2.000000  1.000000

In [16]:
def dekteksi_outlier(df_in):
    outliers = []
    threshold = 3
    for col_name in df_in:
        mean = df_in[col_name].mean()
        std = df_in[col_name].std()
        i=1
        for y in df_in[col_name]:
            z_score = (y - mean) / std
            if abs(z_score) > threshold:
                outliers.append([col_name,y,i])
            i+=1
    return outliers

for i in dekteksi_outlier(df):
    print('Data sampah',i[1],'dikolom',i[0],'pada baris',i[2])